<table class="table table-hover table-bardered">
    <thead>
    <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    </thead>

    <?php
    include_once 'connectdb.php';
    $query = "SELECT * FROM product";
    $result = mysqli_query($db_connect, $query);
    ?>
    <?php
    $i=0;
    while ($row = mysqli_fetch_array($result)): ?>
        <tr>
            <td><?php echo ++$i; ?></td>
            <td><?php echo $row["name"] ?></td>
            <td><?php echo $row["price"] ?></td>
            <td><input type='button' onclick='clickDelete(<?php echo $row["id"] ?>);' value='DEL Product'/></td>
        </tr>
    <?php endwhile; ?>
    <?php mysqli_close($db_connect); ?>
</table>